<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reviewStyle.css') }}">
</head>
<body>

    {% include 'navbar.html' %}


    <div id="table-container">
        {{table | safe }}
    </div>

    </div>


</body>


<script>
    function handleClick(id)
    {
        alert("Button Clicked for " + id)
    }
</script>
</html>
